$backgroundColor: #FBFBFB;
$bodyColor: #000000;
$bodyFont: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 1.1rem;
}

a:link {
  text-decoration: none;
}